.link-text {
    text-decoration: none;
}

.card {
    min-height: 60px;
    width: 100%;
    padding: 12px 14px 12px 14px;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    color: #423D3D;
    border-radius: 8px;
    box-sizing: border-box;
    align-items:center;
    display: inline-flex;
    
}
.card-title-box {
    margin: 4px 0 14px 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    p {
        margin: 0;
    }
    .title {
        color: #7B7B7B;
        font-size: 12px;
    }
    .title.bold {
        font-weight: 600;
        color: #423D3D;
    }
    .link-text {
        order: 2;
        margin: 0;
        margin-left: auto;
        font-size: 12px;
        color: #38B9A9;
        cursor: pointer;
    }
    .dropdown {
        order: 2;
        margin: 0;
        margin-left: auto;
        border: none;
        background-color: transparent;
        font-size: 12px;
        color: #423D3D;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        outline: none;
        text-align: right;
    }
}
.card.context { margin-top: 14px; width: 100%;}
.context-body {
    width: 100%;
    .title-box{
        margin: 4px 0 12px 0;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
    }
    .title-box .title {
        margin: 0;
        // float: left;
        font-size: 16px;
    }
    .title-box .link-text {
        // float: right;
        order: 2;
        margin: 0;
        margin-left: auto;
        font-size: 12px;
        color: #38B9A9;
        cursor: pointer;
    }
}
.context-items {
    margin-top: 16px;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    width: 100%;
}
.card.banner {
    background: linear-gradient(292.39deg, #1C6960 0%, #38B9A9 95.96%);
    text-align: center;
    justify-content: center;
    p {
        margin: 10px 0 4px 0;
    }
    .title {
        color: #FFC107;
        font-weight: 600;
        margin-top: 20px;
    }
    .amount {
        font-weight: 600;
        font-size:24px ;
        color: #fff;
    }
    .mini-info {
        margin: 20px auto 18px auto;
        width: 260px;
        height: auto;
        background-color: rgba(255, 255, 255, 0.2);
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        padding: 8px 12px 8px 12px;
        box-sizing: border-box;
        border-radius: 4px;
        overflow-wrap: break-word;
        p {
            margin: 0;
        }
    }
}
.card.banner-wallet-info {
    .category-value {
        margin-left: 6px;
    }
    p {
        font-size: 14px;
        margin: 0;
        font-weight: 500;
        color: #7B7B7B;
    }
    p.balance-title {
        color: #FFC107;
    }
    p.balance-amount {
        margin-top: 8px;
        font-size: 18px;
        font-weight: 600;
    }
    p.info-title {
        margin: 12px 0 8px 0;
    }
    p.income-amount {
        color: #38B9A9;
        margin-top: 4px;
    }
    p.expense-amount {
        color: #E88A33;
        margin-top: 4px;
    }
}
.card-info {
    min-height: 32px;
    width: 100%;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    color: #423D3D;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-flex;
    align-items:center;
    font-size: 12px;
}
.card-info.text {
    padding: 0 8px 0 12px;
    // padding-left: 12px;
}
.card-info.icon-card-info {
    padding: 8px;
    // padding-left: 12px;
}
.card-info.fit-content {
    width: fit-content;
}
.card.transaction-info {
    p {
        margin: 0;
        font-size: 14px;
        color: #7B7B7B;
    }
    .headbar-transaction {
        p{
            font-size: 12px;
        }
        p.title {
            font-weight: 500;
            font-size: 14px;
        }
    }
    p.balance-title {
        font-size: 14px;
        font-weight: 500;
    }
    p.balance-amount {
        margin-top: 4px;
        font-size: 16px;
        font-weight: 500;
    }
}
.card-note {
    width: 100%;
    padding: 8px;
    min-height: 24px;
    box-sizing: border-box;
    background-color: rgba(217, 217, 217, 0.2);
    position: relative;
    text-align: Left;
    border-radius: 4px;
    margin: 24px 0 16px 0;
    p {
        font-size: 12px;
        color: #7B7B7B;
        font-weight: 500;
    }
}
.transaction-items {
    margin-top: 16px;
    margin: 16px 0 24px 0;
    display: grid;
    gap: 12px;
    grid-template-columns: auto;
}