@import url('./navbar/navbar.css');
@import url('./headbar/headbar.css');
@import url('./card/card.css');
@import url('./items/items.css');
@import url('./graph/graph.css');
@import url('./icon/icon.css');
@import url('./open/styles.css');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

.body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding-bottom: 90px;
    font-family: 'Inter', sans-serif;
}
.container>.content:first-child {
    margin-top: 24px;
}
.container>.content {
    margin-top: 14px;
}
.container {
    padding: 0 30px 0 30px;
}
.dash-line {
    width: 100%;
    padding: 0.4px;
    background-color: #D8D8D8;
}
.context {
    width: 100%;
}
Link {
    text-decoration: none;
}
select{
    border: none;
    outline: none;
}
.dropdown {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
}