.navbar {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    height: 65px;
    border-top: 0.1px solid #A9B5B3;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    grid-template-areas: "auto auto auto auto";
    z-index: 99;
}
.navbar-btn {
    img{
        margin: auto;
        width: 24px;
        margin-top: 4px;
    }
    p {
        font-size: 14px;
        margin: 0;
        // margin-top: 4px;
        font-family: 'Inter', sans-serif;
        color: #A9B5B3;
    }
    text-align: center;
    position: relative;
    width: 88px;
    height: 56px;
    cursor: pointer;
}