.headbar {
    height: 50px;
    background-color: white;
    top: 0;
    .container {
        display:flex;
        align-items:center;
        height: 100%;
    }
    p {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: #423D3D;
    }
    .headbar-right-content {
        font-size: 14px;
    }
}